## This is an example config file for the annotation of meta information
## within VeGETA.
## Lines starting with two '#' are going to be ignored (comment lines)


## Information are going to be put into the same line
## as long as they are in the same block here in the config file
## A block starts with a single line consisting of
## '#=GC XXXXXXX'
## where XXXXXXX is the name of the line.
## all following lines until the next block header will be part of the line.
## Each entry has three fields (single whitespace seperated):
## Name, Start, Stop

#=GC known_literature
CRE 50 250
XYZ 500 1200
HP1 1500 1800
cHP2 1987 2354
utr_hp2 10000 10200

#=GC RFam_families
RF004004 20 90
RF004005 120 190
RF004006 205 237
RF004007 258 317

#=GC RFam_recommended
HP1 1500 1800

#=GC Rfam_alternative
flavi1 500 1200
